/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

/* normalize the page */
*{
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.container{
  display: flex;
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #DDE6ED;
  min-height: 100vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.feature-container{
  margin: 0 0;
  padding: 0 0;
  width:  80%;
}


.sidebar-container h2{
  margin: 10px auto;
  font-size: 30px;
  font-weight: 600 ;
}


.nav-link {
  display: inline-block;
  text-decoration: none; 
  font-size: 24px;
  font-weight: 600;
  color: black; 
  padding: 30px;
  margin: 5px 7px;
  border-radius: 8px;
  background-color: #9DB2BF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.nav-link:hover,
.active {
  color: white;
  background-color: #5F7D8E;
}

.feature-container h1{
  padding: 10px 18px;
}

.table-container{
  margin: 0 auto;
  width: 100%;
}

.table-container table {
  border-collapse: collapse; 
  border: 1px solid #ccc; 
  font-size: 28px;
  font-weight: 400;
  margin: 20px;
  width: 90%;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc;
  padding: 8px; 
}

.table-container th {
  background-color: #f2f2f2; 
}

.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

td button {
  background-color: #9DB2BF;
  border-style: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  margin: 2px 4px;
  padding: 8px 10px;
}

td button{
  cursor: pointer;
}

.button-delete:hover{
  background-color: red;
}
.button-edit:hover{
  background-color: #5F7D8E;
}

.add-form-container {
  margin:20px 10px;
  width: 50%;
}

.add-form-container h3{
  font-size: 28px;
}

.add-form-input {
  font-size: 28px;
  margin: 5px 0 15px 0;
  background-color: gray;
}

.add-form-button {
  font-size: 20px;
  margin-top: 10px;
}

.button-page{
  display: flex;
  justify-content: center;
}

/* .component-list {
  border: 1px solid #ddd;
  padding: 16px;
  width: 200px;
  min-height: 400px;
}

.form-builder {
  border: 1px solid #ddd;
  padding: 16px;
  flex: 1;
  min-height: 400px;
}

.form-component {
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
}

button {
  margin-top: 8px;
  cursor: pointer;
}
 */


 .form-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.component-list {
  border: 1px solid #ddd;
  padding: 16px;
  min-height: 400px;
}

.form-area {
  display: flex;
  gap: 16px;
  flex: 1;
}

.form-builder {
  border: 1px solid #ddd;
  padding: 16px;
  min-height: 400px;
  flex: 1;
}

.form-component {
  border: 1px solid #ddd;
  padding: 8px;
}

button {
  margin-top: 8px;
  cursor: pointer;
}
